<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>

      <div *ngIf="onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let oddNumber of oddNumbers"
            [ngClass]="{odd : oddNumber %2 !== 0}"
            [ngStyle]="{backgroundColor : oddNumber %2 !== 0 ? 'yellow' : 'transparent'}">
            {{oddNumber}}
          </li>
        </ul>
      </div>

      <div *ngIf="!onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let evenNumber of evenNumbers">
            {{evenNumber}}
          </li>
        </ul>
      </div>

      <p appBasicHighlight>Style me with basic directive</p>
      <!-- <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p> -->
      <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Style me with better directive</p>

      <p *appUnless="false">This is custom structaral directive</p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase ="5">5</p>
        <p *ngSwitchCase ="10">10</p>
        <p *ngSwitchCase="15">15</p>
        <p *ngSwitchCase="20">20</p>
      </div>

    </div>
  </div>
</div>
